<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RiemannWeb - @ViewData["Title"]</title>
    
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/animatecss/animate.css" />
</head>
<body class="@((bool)ViewData["DarkMode"]?"bg-dark":"bg-light") @((bool)ViewData["DarkMode"]?"text-light":"text-dark")">
    <header>
        <nav class="navbar border-bottom box-shadow mb-3">
            <div class="container content">
                <a class="navbar-brand" onclick="transitionOut('/')">RiemannWeb</a>
                <a class="navbar-nav nav-item nav-link" onclick="transitionOut('settings')">Settings</a>
            </div>
        </nav>
    </header>

    <div id="view" class="content">
        @RenderBody()
    </div>

    <footer class="@((bool)ViewData["DarkMode"]?"bg-dark":"bg-light") border-top footer text-muted">
        <div class="content">
            &copy; 2019 - RiemannWeb - <a class="link-color" onclick="transitionOut('terms')">Privacy and Terms</a>
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
